body {
  background-color: #FFFACD;
  border: 5px double #2F4F4F;
  margin: 30px;
  height: 900px;
}

/*δίαταξη λεζάντας*/
.par{
	border: 2px solid;
	border-radius: 50%; 
	width: 200px;
	text-align: center;
	position: relative;
	left: 80%;
}

/*διάταξη των 3 στρογγυλών αντικείμενων δίπλα απο την εικόνα του ξεναγού. */
.circle1{
	border: 2px solid;
	height: 30px;
    width: 30px;
	border-radius: 50%;
	display: inline-block;
	position:relative;
	left: 65%;
	bottom: 375px;
}
.circle2{
	border: 2px solid;
	height: 30px;
    width: 30px;
	border-radius: 50%;
	display: inline-block;
	position:relative;
	left: 60%;
	bottom: 342px;
}
.circle3{
	border: 2px solid;
	height: 30px;
    width: 30px;
	border-radius: 50%;
	display: inline-block;
	position:relative;
	left: 55%;
	bottom: 310px;
}

/*δίαταξη και μορφή κύριων κουμπιών */
button  
{
	background: none;
  position: relative;
  left: 20%;
  top: 250px;
  display: block;
  font-size: medium;
  margin: 20px;
  width: 400px; 
  border: 3px solid; 
  padding: 20px 35px; 
  border-radius: 8px; 
  transition: 0.4s;
  text-align: center;
  text-decoration: #000000;
  cursor: pointer;
}
/*όταν περάνει ο κέρσορας πάνω απο τα κουμπιά αλλάζουν χρώμα*/
button:hover
{
  background-color: coral;
}

/*μορφή της εικίνα του εκθέματος*/
.img-guide
{
  width: 350px;
  position: fixed;
  left: 60%;
  bottom: 200px;
}


/*μορφή της μπάρας για την background μουσικής*/
.music{
  display: none; 		/* να μην είναι εμφανής*/
}

/*μορφή της μπάρας που είναι υπεύθυνη για αναπροσαρμογή της προγραφής  του εκθέματος*/
audio{
	position: relative;
	left: 64%;
	top: 300px;
}



